#hint_id_password1, #hint_id_username, #hint_id_password2 {
    display: none;
}
#error_1_id_password2, #error_2_id_password2{
    display: none;
}

#div_id_image {
    margin-bottom:50px;
}
.button {
    margin-top:50px;
    margin-left:40px;
}

.signin {
    margin-left: 300px;
    margin-top: 600px;
}

#div_id_username ,#div_id_email ,#div_id_password1 ,#div_id_password2, #div_id_password, #div_id_inbox_name {
    color:white;
    margin-bottom:70px;
    width : 45%;
    }

#div_id_content {
    color:white;
}
.signup{
    margin-top: -30px;
    float:left;
    margin-left: -10px;
}

.border-bottom{
    width: 300px;
    height: 70px;
    margin-bottom: 10px;
    color: #000000;
}
