{% extends 'user/base.html' %}
{% load static %}
{% block bodyContent %}
    <div>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <button class="btn btn-outline-info dlt-inbox" type="submit" name="delete-inbox" value="delete-inbox">Delete Inbox</button>
        </form>
        <h5 class="message-rcvd" style="color:#5f788a">Messages received:</h5>
        {% if message_box is False %}
            <h1 class="article-content no-msg">You need to generate link first!</h1>
        {% else %}
            {% if first_post is None %}
                <h1 class="article-content no-msg">You haven't receieved any message</h1>
            {% else %}
                {% for post in posts %}
                    <small class="datetime" >{{ post.date_posted|date:"F d, Y, h:i A" }}</small>
                    <article class="media content-section">
                    <div class="media-body">
                        <p class="article-content inbox-content" >{{ post.content }}</p>
                    </div>
                    </article>
                {% endfor %}
            {% endif %}
        {% endif %}
    </div>
{% endblock bodyContent %}