{% extends "user/base.html"%}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
      <div class="media">
        <img class="rounded-circle account-img" src="{{ user.profile.image.url }}">
        <div class="media-body">
          <h2 class="account-heading">{{ user.username }}</h2>
          <p class="text-secondary">{{ user.email }}</p>
        </div>
      </div>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset class ="profile-info" style="color:white">
                    {{ u_form|crispy }}
                    {{ p_form|crispy }}
            </fieldset>
            {% if user.profile.image == 'default.jpg' %}
                <div class="form-group">
                    <button class="btn btn-outline-info" type="submit" name="update" value="update">Update</button>
                    <button class="btn btn-outline-info dlt-act" type="submit" name="delete" value="delete">Delete account</button>
               </div>
            {% else %}
                <h6 class="dlt-profile"><a href="{% url 'delete-profile' user.pk %}">Remove </a>current profile picture</h6>
                <div class="form-group">
                    <button class="btn btn-outline-info" type="submit" name="update" value="update">Update</button>
                    <button class="btn btn-outline-info dlt-act" type="submit" name="delete" value="delete">Delete account</button>
                </div>
            {% endif %}
        </form>
    </div>
{% endblock content %}